<html>
<head>
<title>{{user}}'s link2bio</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{url_for('static',filename='w3.css')}}">
<script src="https://kit.fontawesome.com/55f866f4d5.js" crossorigin="anonymous"></script>
<style>
body{
margin-top:50px;
background:linear-gradient(39deg, #4cb8c4, #3cd3ad);
}
h2,h5{
color:white;
}
button{
padding:10px;
border-radius:10px;
}
a{
text-decoration:none;
}
</style>
</head>
<body>
<center>
<img src="{{url_for('static',filename='dp.jpeg')}}" class="w3-circle" style="width:100px;height:100px;">

<h2 style="width:300px;"><b><i>{{user}}</i></b></h2>
<h5 style="width:300px;">about</h5>
<a href="">
<button class="w3-btn" style=";color:white;">
<a href="http://instagram.com/anuragprasoon"><i class="fab fa-instagram-square fa-3x"></i></a>
<a href="http://youtube.com/techyanurag"><i class="fab fa-youtube-square fa-3x"></i></a>
<a href="http://twitter.com/anuragprasoon"><i class="fab fa-twitter-square fa-3x"></i></a>
<a href="anuragprasoon@gmail.com"><i class="fas fa-envelope-square fa-3x"></i></a>
<i class="fab fa-facebook-square fa-3x"></i>
</button>
</a>
<br><br>
<button class="w3-btn" style="background-color:#00897b80;color:white;width:280px;margin-bottom:10px;">any link title</button><br>
<button class="w3-btn" style="background-color:#00897b80;color:white;width:280px;margin-bottom:10px;">any link title</button><br>
<button class="w3-btn" style="background-color:#00897b80;color:white;width:280px;margin-bottom:10px;">any link title</button><br>
<button class="w3-btn" style="background-color:#00897b80;color:white;width:280px;margin-bottom:10px;">any link title</button><br>
<br>
<footer class="w3-bar w3-white w3-bottom">
<h6> BioLink &#10084;&#65039; by Anurag Prasoon</h6>
</footer>
</body>  

</html>

